header .top {
    background-color:#000000;
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
   
}
header .top #logo {
    float: left;
    height: 100px;
    width: 100px;
}
header {
    background-color: #000000;
    color: #fff;
    width: 100%;

    order: -1;
}
.box .calculator {
    background-color: #000000;
    color: #fff;
    width: 100%;
    
    margin-bottom: 10px;
    padding-bottom: 5px;
    
    order: 0;
}
body {
    background-color: #000000;
    background-image: url(https://cdn.discordapp.com/attachments/721158720108625944/756941924287381626/BG_00000.jpg);
    background-attachment: fixed;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    width: 100%;
    padding: 0px;
}
.box nav {
    background-color:#000000;
    text-align:left;
    width:100%;

    margin-top: 15px;
    margin-bottom: 15px;

    order: 0;
}
nav ul {
    list-style-type:disc;
    display: inline-grid;
}
nav ul a {
    font-weight: bold;
    font-size: 150%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #FFFF00;
}
.box{
    width:100%;

    display: flex;
    flex-direction: column;
}
.box .links {
    background-color:#000000;
    color: #fff;
    padding-left:10px;

    margin-bottom: 10px;

    order: 0;
}
.box  .tabl_0 {
    background-color:#000000;
    color: #fff;
    width:100%;

    padding-bottom: 15px;
    margin-bottom: 10px;

    order: 2;
}
.box .tabl_0 table .nechet {
    background-color: #8B008B;
    text-align: center;
}
.box .tabl_0 table .chet {
    background-color: #FF00FF;
}

.box .tabl_0  table {
    background-color: #EE82EE;
    margin: auto;   
}
.box  .reg {
    background-color:#000000;
    color: #fff;
    padding-left:10px;

    margin-bottom: 10px;

    order: 1;
}
footer {
    background-color:#000000;
    color: #fff;
    text-align: center;
    width:100%;

    order: 4;
}


@media  (min-width: 910px) {

.top {
    height:120px;
    padding-left: 0px;

    margin-bottom: 20px;
}
header {
    background-color:#000000;
    width:100%;
    padding: 25px;

    margin-left: -25px;
    margin-top: -30px;
    margin-bottom: 20px;

    order: -1;
}
.box  nav {
    text-align: center;

    margin-top: -5px;

    order: 0;
}
nav ul {
    padding-left: 0px;
    list-style-type: none;

    display: inline-flex;
}
nav ul a {
    margin: 30px;
}
.box {
    max-width: 1000px;
    margin: 0 auto;
}
.box .calculator {
    order: 0;
}
.box .links {
    order: 0;
}
.box .tabl_0 {
    order: 0;
}
.box .reg {
    order: 1;
}
footer {
    order: 4;
}
}
